/* 页面头部和脚部的样式 */
html, body {
  overflow-x: hidden;
  position: relative;
}
body {
  padding: 0;
  margin: 0;
  font-family: " Microsoft Yahei";
}
/* 去除bootstrap中col-的padding值 */
.delPadd{
  padding: 0;
}
.g-header {
  /* background: pink;*/
  height: 80px;
  width: 100%;
  padding-top: 10px;
}
.logo-wrap {
  width: 142px;
  float: left;
  margin-left: 5.86%;
}
.logo-wrap img {
  width: 100%;
  height: auto;
}
.nav-top {
  float: left;
  margin-top: 20px;
  margin-right: 30px;
  padding: 0;
  font-size: 18px;
}
.nav-top li {
  float: left;
  list-style: none;
  margin-left: 40px;
  text-decoration: none;
}
li.active a{
  color: #FFAE00!important;/* 菜单响应色*/
}
.nav-top li.enter {
  margin-right: 60px;
  margin-left: 90px;
}
.nav-top .enter a {
  color: #FFAE00;/* 登录菜单为主色调 */
}
.nav-top a {
  color: #737373;
}
.nav-top a:hover {
  text-decoration: none;
  color: #FFAE00;
}
/* footer */
.g-footer{
  width: 100%;
  height: 420px;
  padding: 4.448% 4.448% 1.854%;/* 60px 60px 25px */
  /*background-color: red;*/
}
.footer-logo-wrap{
  vertical-align: top;
  width: 90%;
  padding: 1px;
}
.footer-logo-wrap img{
  width: 100%;
  height: auto;
}
.footer-text, .footer-focus{
  padding: 25px 0;
}
.footer-text{
  padding-left: 100px;
}
.footer-focus{
  padding-left: 15px;
}
.item-detail{
  padding-top: 10px;
}
.codeImg-wrap{
  display: inline-block;
  /*width: 87.9%;*/
  padding: 0 10px 15px 0;
}
.codeImg-wrap img{
  width: 100%;
  height: auto;
}
.footer-end{
  text-align: center;
  margin-top:10px;
}
.footer-text a{
  color: inherit;
}
@media (min-width:992px) and (max-width:1200px) {
  .codeImg-wrap{
    width: 85px;
  }
  .footer-text{
  padding-left: 30px;
  }
}

/* 屏幕大于768px小于992px时 */
@media (min-width:768px) and (max-width:992px) {
  .logo-wrap {
    margin-left: 2%;
  }
  .nav-top li {
    margin-left: 20px;
  }
  .nav-top li.enter {
    margin-right: 0;
    margin-left: 40px;
  }
  .footer-focus{
    padding-left: 30px;
  }
  .codeImg-wrap{
    width: 60px;
  }
  .footer-text{
    padding-left: 15px;
  }
}

/* 屏幕小于768px时 */
@media (max-width:768px) {
  .nav-top li.enter {
    margin-right: 0;
    margin-left: 40px;
  }
  .footer-logo-wrap{
    width: 50%;
    margin: 0 auto;
  }
  .footer-text, .footer-focus{
    padding-bottom: 0;
  }
  .footer-text{
    padding-left: 15px;
  }
  .footer-focus{
    padding-top: 0;
  }
}